li {
  list-style-type: none;
}

#show-completed,
#add-task,
.task-list {
  display: none;
}

.task,
.category {
  color: #0088cc;
}

.task,
.complete,
.category {
  cursor: pointer;
}

.task:hover,
.complete:hover,
.category:hover {
  text-decoration: underline;
}

.task-completed {
  color: red;
}
