li {
  list-style-type: none;
}

#show-completed {
  display: none;
}

.task {
  color: #0088cc;
}

.task,
.complete {
  cursor: pointer;
}

.task:hover,
.complete:hover {
  text-decoration: underline;
}

.task-completed {
  color: red;
}
